<form [formGroup]="form1" (ngSubmit)="addPost(form1.value)">

    <div class="container">
        <div class="row columns">
            <label>6 month:
                <input type="radio" formControlName="time" value="1">
            </label>
            <label>1 year:
                <input type="radio" formControlName="time" value="2">
            </label>
            <label>18 month:
                <input type="radio" formControlName="time" value="3">
            </label>
            <label>2 year:
                <input type="radio" formControlName="time" value="4">
            </label>

            <!-- <input type="submit" class="but" value="Submit Form" [disabled]="!form1.valid"> -->
        </div>

    </div>

</form>

<div *ngIf="vision_time;" >
    {{ vision_time }}
</div>